target/
project/target/
project/boot/
project/plugins/target/
project/plugins/project/
target/**/*
.target
.target/**/*
.settings
.cache
.settings/**/*
project/target/**/*
project/boot/**/*
project/plugins/target/**/*
project/plugins/project/**/*
.history
*~
.#*
\#*